body{
    background-color: #DDDDDD;
    display: flex;
    height: 95vh;
    justify-content: center;
    align-items: center;
}
#container{
    position: relative;
    background-color: white;
    border-radius: 25px;
    width: 50%;
    height: 50vh;
}
#login-image{
    width: 50%;
    height: 50vh;
    float: right;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}
#title{
    color: #5C4EFF;
    font-family: Arial, sans-serif;
    margin-top: 8%;
    margin-left: 9%;
    font-size: 1.6vw;
    font-weight: bold;
}
input[type="password"]{
        width: 33%;
        height: 6.65vh;
        border-radius: 25px;
        border-color: #5C4EFF;
        border-width: 2px;
        box-shadow: 0px 2px 2px #7e7e7e;
        margin-top: 2%;
        margin-left: 7.5%;
        outline-color: #5868ff;
        font-size: 16px;
        padding-left: 20px;
        transform: scale(1);
        transition: transform 0.5s;
}
input[type="password"]::placeholder{
        font-size: 1vw;
        color: #A49DFF;
}

#pwd{
    margin-top: 0.5%;
}
#save{
    width: 20%;
    height: 6.65vh;
    margin-top: 2%;
    margin-left: 15.5%;
    border-radius: 25px;
    background-color: #756cfd;
    color: white;
    border-style: none;
    font-size: 1.3vw;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0px 2px 2px #7e7e7e;
    transform: scale(1);
    transition: transform 0.5s;
}
form > *:hover, #save:hover{
    transform: scale(1.03);
    transition: transform 0.5s;
}
@media only screen and (max-width: 1300px) {
    #title{
        margin-top: 11%;
    }
    #email{
        height: 5.65vh;
    }
    #submit{
        height: 5.65vh;

    }
  }
@media only screen and (max-width: 1100px) {
    #title{
        margin-top: 12%;
        margin-left: 13%;
    }
    input[type="text"]{
        height: 5.65vh;
    }
    #save{
        height: 5.65vh;
    }
    #container{
        width: 65%;
    } 
}
@media only screen and (max-width: 900px) {
    #title{
        margin-top: 16%;
    }
    input[type="text"]{
        margin-left: 7.5%;
        height: 4.5vh;
    }
    #save{
        height: 4.5vh;
        margin-left: 16%;
    }
  }